body{
    background-color: lightblue;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
}

body{
    color:#778beb;
}

.js-clock{
    color:palevioletred;
}

.clicked{
    color: #f7d794;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /*레이어를 가장 아래로!!!*/
    animation: fadeIn 0.5s linear;
}